@import './colors.scss';

.App {
  display: flex;
  min-height: 100vh;
  background-color: $background;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top:175px;
  width: 75%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.box {
  width: 80%;
  text-align: center;
  margin-bottom: 50px;
  background: #fff;
  padding: 56px 2% 56px 2%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    .multi {
      display: flex;
      flex-direction: row;
      width: 80%;
      margin: 0 auto;
      .box-multi {
        width: 90%;
        margin: 0 auto;
        flex-direction: row;
        ul {
          margin-top: 0;
          column-count: 3;
          column-gap: 1em;
          list-style-position: inside;
        }
        ul li {
          text-align: left;
          color: $red;
          span {
            color: #fff;
          }
        }
      }
    }
  p {
    margin: 23px 10% 0 10%;
  }
  &:first-of-type {
    padding-top: 40px;
  }
  &:last-of-type {
    margin-bottom: 100px;
  }
  &.dark {
    background-color: $charcoal;
    h1,h2,p,li{
      color: #fff;
    }
  }
}

.profile-pic, .profile-pic img {
  width: 170px;
  height: 170px;
  vertical-align: middle;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-top: -100px;
  img {
    margin-top: -29px;
  }
}

.col {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  margin-left: 0;
}

h1, h2, p {
  color: $charcoal;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 46px;
  font-size: 45px;
  margin: 0 0 40px 0;

}

.intro-content {
  h1 {
    margin: 0 0 5px 0;
  }
  h2 {
    margin: 5px 0 5px 0;
  }
}

.education {
  p {
    margin-top: 0;
  }
  h2 {
    margin-bottom: 5px;
    padding: 0 5%;
  }
  .school {
    margin: 20px 0;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.4;
}

.small {
  font-size: 16px;
  color: $grey;
}

p, li {
  font-weight: 300;
  letter-spacing: .1px;
  font-size: 16px;
  line-height: 1.7;
}

i {
  padding:0 0 0 3px;
}

.btn {
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  margin: 53px 0.3em 0.3em 0.3em;
  padding: 10px 30px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  border-radius: 2px;
  border: none;
  height: auto;
  width: 200px;
  text-align: center;
  background-color: $charcoal;
  color: #fff;
  font-weight: 400;
  transition: all 0.3s ease;
  &:hover {
    background-color: $dark-charcoal;
            -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03);
  }
}

@media only screen and (max-width: 1500px) {

  .box {
    .multi {
      width: 95%;
      .box-multi {
        width: 100%;
      }
    }
  }
}


@media only screen and (max-width: 1200px) {

  .container {
    width: 90%;
    padding-top: 125px;
  }

  .box {
    width: 90%;
    .multi {
      width: 100%;
      .box-multi {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 800px) {

  .box {
    .multi {
      width: 95%;
      .box-multi {
        ul {
          column-count: 2;
        }
      }
    }
  }

  h1 {
    font-size: 35px;
  }

  p {
    font-size: 15px;
    line-height: 1.7;
    padding: 0 5%;
    margin: 23px 0 23px 0;
  }

  .profile-pic, .profile-pic img {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 600px) {

  .box {
    .multi {
      width: 100%;
      .box-multi {
        width: 75%;
        ul {
          column-count: 1;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  p {
    font-size: 14px;
  }
}