$background: #f1f1f1;
$black: #333;
$dark-black: darken( $black, 10% );
$light-black: lighten( $black, 10% );
$charcoal: #2d3033;
$dark-charcoal: darken( $charcoal, 10% );
$grey: #939393;
$red: #aa4b41;